head
  meta(charset='utf-8')
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  )
  title babyplus
  link(
    rel='stylesheet'
    href=path.src.css
  )
  link(
    rel='stylesheet'
    href=path.src.bootstrap
  )
  link(
  	rel='stylesheet'
  	href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600"
  )
  link(
    rel='stylesheet'
    href=path.src.slick
  )